<!-- -*- mode: XML -*- -->
<launch>
  <arg name="simulate" default="no" />
  <arg name="map" default="maze1" />
  <arg name="track" default="Austin" />
  
  <!-- vesc, lidar, tf -->
  <include file="$(find racecar)/launch/teleop.launch">
    <arg name="simulate" value="$(arg simulate)"/>
  </include>
  
  <!-- planner framework -->
  <include file="$(find pathing)/launch/system.launch">
    <arg name="simulate" value="$(arg simulate)"/>
    <arg name="map_name" value="$(arg map)"/>
    <arg name="track_name" value="$(arg track)"/>
  </include>

</launch>
